:root {
    --background-color: #fff;
    --text-color: #000;
    --card-background: #fff;
    --row-background: #f4f4f4;
    --card-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    --modal-background: #fff;
    --modal-header-background: #f8f9fa;
    --modal-text-color: #000;
    --modal-border-bottom-color: #dee2e6;
    --input-background: #fff;
    --input-text-color: #000;
    --input-border-color: #ced4da;
    --alert-success-background: #d4edda;
    --alert-success-text: #155724;

    --hamburger-menu-color: #fff;
    --hamburger-menu-background-color: #444;
    --hamburger-menu-line-color: #fff;

    --scrollbar-width: 8px;
    --scrollbar-track-color: #f4f4f4;
    --scrollbar-thumb-color: #ced4da;
    --scrollbar-thumb-hover-color: #a1a1a1;
}


body.dark-mode {
    --background-color: #121212;
    --text-color: #fff;
    --card-background: #1e1e1e;
    --row-background: #333;
    --card-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    --modal-background: #2c2c2c;
    --modal-header-background: #333;
    --modal-text-color: #fff;
    --modal-border-bottom-color: #444;
    --input-background: #333;
    --input-text-color: #fff;
    --input-border-color: #444;
    --alert-success-background: #155724;
    --alert-success-text: #d4edda;

    --hamburger-menu-color: #000;
    --hamburger-menu-background-color: #555;
    --hamburger-menu-line-color: #000;

    --scrollbar-track-color: #333;
    --scrollbar-thumb-color: #555;
    --scrollbar-thumb-hover-color: #777;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 2px solid var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}


.book-chapter-board {
    display: block;
    width: 100%;
}

.book-chapter-act {
    width: 100%;
    background: var(--row-background);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.book-chapter-act-ul {
    padding: 0;
    min-height: 100px;
    width: 100%;
}

.general-card {
    position: relative;
    background: var(--card-background);
    padding: 0px;
    margin: 0px 0px 30px;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
    width: 100%;
}

.book-chapter-card {
    position: relative;
    background: var(--card-background);
    padding: 10px;
    margin: 0px 0px 5px;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
    width: 100%;

}


.book-chapter-card .archive-btn {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.book-chapter-card:hover .archive-btn {
    display: block;
}


/* Modal styles */

.modal-content-color {
    background-color: var(--modal-background);
    color: var(--modal-text-color);
}


.modal-header-color {
    background-color: var(--modal-header-background);
    color: var(--modal-text-color);
    border-bottom: 1px solid var(--modal-border-bottom-color);
}


.modal-body-color {
    color: var(--modal-text-color);
}


.modal-footer-color {
    background-color: var(--modal-header-background);
    color: var(--modal-text-color);
}


.btn-close {
    /*filter: invert(100%);*/
}


/* Form element styles */

input[type="text"], textarea, select {
    background-color: var(--input-background) !important;
    color: var(--input-text-color) !important;
    border-color: var(--input-border-color) !important;
}

input::placeholder, textarea::placeholder {
    color: var(--input-text-color) !important;
}

/* Alert styles */
.alert-success {
    background-color: var(--alert-success-background);
    color: var(--alert-success-text);
}


/* hamburger menu */

.ham-menu-items {
    height: 400px;
    width: 250px;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 2;

    background-color: var(--hamburger-menu-background-color) !important;
    color: var(--hamburger-menu-color) !important;
    border-color: var(--hamburger-menu-line-color) !important;

    padding: 10px;

    visibility: hidden;
    opacity: 0;
    font-size: 20px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
}


.ham-menu-items.is-active {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    cursor: pointer;
    background-color: var(--hamburger-menu-background-color) !important;
    color: var(--hamburger-menu-color) !important;
    border-color: var(--hamburger-menu-line-color) !important;

    height: 40px;
    width: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.25em;
}

.ham-menu.is-active {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ham-menu .line {
    color: var(--hamburger-menu-background-color) !important;
    background-color: var(--hamburger-menu-color) !important;

    border-radius: 5px;
    width: 30px;
    height: 4px;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}

.ham-menu.is-active .line1 {
    display: block;
    transform: rotate(45deg);
    margin-left: 7px;
}

.ham-menu.is-active .line2 {
    opacity: 0;
}

.ham-menu.is-active .line3 {
    display: block;
    transform: rotate(-45deg);
    margin-left: 7px;
}
