

/* (A) MATERIAL ICONS */
.aWrap .svg-inline--fa {
    color: white !important;
}

/* (B) WRAPPER */
.aWrap {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* allow buttons to wrap into another row on small screens */
    /* flex-wrap: wrap; */
    width: 550px;
    padding: 10px 30px;
    margin: 5px 0;
    border-radius: 10px;
    background: black;
    gap: 1rem;
}

.aWrap,
.aWrap * {
    box-sizing: border-box;
}

/* (C) PLAY/PAUSE BUTTON */
.aPlay {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
    cursor: pointer;
}

/* (D) TIME */
.aCron {
    font-size: 14px;
    color: #cbcbcb;
    margin: 0 10px;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */
.aWrap input[type="range"] {
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 150px;
    padding: 0;
    margin: 0;
    background: 0;
}

.range,
.range-volume {
    position: relative;
    display: flex;
    align-items: center;
}

.range input,
.range-volume input {
    position: relative;
    z-index: 1;
}

.range .change-range,
.range-volume .change-range {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 0px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px 0 0 10px;
}

.range-volume .change-range {
    height: 10px;
    width: 95%;
}

.under-ranger {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 100%;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}

.range-volume .under-ranger {
    height: 10px;
}

.aWrap input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}

/* (E2) CUSTOM SLIDER TRACK */
.aWrap input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
    height: 6px;
    border-radius: 10px;
}

/* (E3) CUSTOM SLIDER BUTTON */
.aWrap input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
    position: relative;
    cursor: pointer;
    margin-top: -5px;
}

.aWrap input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
    position: relative;
    cursor: pointer;
    margin-top: -5px;
}

/* (F) VOLUME */
.aVolIco {
    margin: 0 10px;
    cursor: pointer;
}

input.aVolume {
    width: 100px !important;
}

.aVolume::-webkit-slider-runnable-track {
    height: 10px !important;
}

.aVolume::-webkit-slider-thumb {
    margin-top: -3px !important;
}

.aVolume::-moz-range-thumb {
    margin-top: -3px !important;
}

.volume-container {
    display: flex;
    align-items: center;
}

